.create-car {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-car-options {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.option-list {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }
  
.option-list.show {
    height: auto;
    display: wrap;
    justify-content: space-between;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.option-value {
    margin: 0 2vh;
}

.option-container {
    display: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10vh 10vh;
    margin: 10vh 10vh;
}

.car-price {
    margin: 5vh;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2vh;
    width: 30vh;
    background-color: var(--primary);
}


  
  
  
  
  